@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        #currentDot {
            height: 8px;
            width: 8px;
            background-color: red;
            color: blue;
            border-radius: 50%;
            display: inline-block;
            position: center;
            box-shadow: 0 0 0 2px;
            position: absolute;
        }

        /*body {
            background-image: url("../../Map/map.png");
            background-size: cover;
            background-repeat: no-repeat;
        }*/
        canvas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("../../Map/map.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    </style>
</head>
<body>
    <canvas id="myCanvas"></canvas>
    <div>
        <h1 id="lon" />
        <h1 id="lat" />

    </div>

    <div id="currentDot" />

    <script>

        class Point {
            constructor(x, y) {
                this._x = x;
                this._y = y;
            }
            get x() {
                return this._x;
            }
            get y() {
                return this._y;
            }
        }

        var runInfinitly = @ViewBag.rate == 0 ? false : true;

        var canvas = document.getElementById("myCanvas");

        var ctx = canvas.getContext("2d");


        var points = [new Point(300, 250),
            new Point(315, 300),
            new Point(370, 350),
            new Point(390,390)]

        ctx.strokeStyle = "red";
        ctx.moveTo(0, 76);

        // center dot - 150.7,76
        // edge 300 - height and width
        // so we add to each dot 150.7 to x and 76 to y




        ctx.quadraticCurveTo(0, 76, 300, 76);
        ctx.stroke();
        ctx.quadraticCurveTo(300, 76, 150.7, 150);
        ctx.stroke();
        ctx.quadraticCurveTo(150.7, 150, 0, 76);
        ctx.stroke();
        ctx.quadraticCurveTo(0, 76, 150.7, 0);
        ctx.stroke();
        ctx.quadraticCurveTo(150.7, 0, 300, 76);
        ctx.stroke();

        $("#currentDot").css({ top: "50%", left: "50%" });
        //document.getElementById("currentDot").style.right = "50%";
        //document.getElementById("currentDot").style.top = "50%";


        //var xc = (points[1]._x + points[2]._x) / 2;
        //xtx.quadraticCurveTo(points[1]._x, points[2]._y, xc, yc);
        //for (i = 0; i < points.length; i++) {
        //    var xc = (points[i]._x + points[i + 1]._x) / 2;
        //    var yc = (points[i]._y + points[i + 1]._y) / 2;
        //    ctx.quadraticCurveTo(points[i]._x, points[i]._y, xc, yc);
        //}
        //ctx.quadraticCurveTo(points[i]._x, points[i]._y, points[i + 1]._x, points[i + 1]._y);


        @*do {
            var params = {
                query: "/position/longitude-deg,/position/latitude-deg",
            };

            $.post("@Url.Action("QueryData")", params).done(function (xml) {
                var xmlDoc = $.parseXML(xml);
                $xml = $(xmlDoc);
                $("#lon").text($xml.find("lon")).text();
                $("#lat").text($xml.find("lat")).text();
            });

        } while (runInfinitly);*@

    </script>
</body>
</html>
